@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/************************************/
* {
    box-sizing: border-box;
    margin: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0 auto;
    background: #FAFAFA;
}

.body a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1075px;
    min-width: 375px;
    padding: 0 15px;
}

.header {
    padding-top: 22px;
    padding-bottom: 98px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.head-items a {
    margin-left: 30px;
}

.head-menu a {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 30px;
}

.head-menu a:hover {
    color: #FFA62B;
}

.header-item {
    width: 50%;
}

.head-logo {
    display: flex;
    justify-content: flex-start;
}

.head-pic {
    order: 1;
    display: flex;
    justify-content: flex-start;
}

.head-pic:hover path {
    fill: #FFA62B;
}

.head-items {
    order: 2;
    display: flex;
    justify-content: flex-end;
}

.head-items-hover:hover path {
    fill: #FFA62B;
}

.head-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 3;
    padding-top: 84px;
}

/**************empower******************/
.empower {
    background-color: #E9E9E9;
    padding-top: 80px;
    padding-bottom: 175px;
}

.empower-body {
    padding: 0 19px 80px 19px;
    text-align: center;

}

.body-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    text-transform: uppercase;
    text-align: center;
}

.body-head--empower {
    padding-bottom: 40px;
}

.body-head--why-chose {
    padding-bottom: 10px;
}

.body-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 0 16px 40px 16px;
    text-align: center;
}


.empower-body__button {
    display: block;
    margin: 0 auto;
    padding: 10px 36px;
    border-radius: 37px;
    border-color: #00A0C1;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #00A0C1;
}

.empower-body__button:hover {
    background-color: #E2E2E2;
}

.empower-body__button--yellow {
    background-color: #FFA62B;
    color: #FFFFFF;
}

.empower-body__button--yellow:hover {
    background-color: #16697A;
}

.empower-body__button:first-of-type {
    margin-bottom: 25px;
}

/*************empower card***************/

.card-list {
    display: flex;
    flex-direction: column;
    margin: 0 -15px;
}

.card-items {
    background-color: transparent;
    padding: 0 15px;
    width: 100%;

}



.card-item {
    background-color: #FFFFFF;
    padding: 35px 40px;
    margin-bottom: 30px;
}

.card-item:hover {
    background-color: #00A0C1;
}

.card-item:hover .card-item__pic path {
    fill: #FFFFFF;
}

.card-item:hover .card-item__header {
    color: #FFFFFF;
}

.card-item:hover .card-item__text {
    color: #FFFFFF;
}

.card-item svg {
    padding-bottom: 10px;

}

.card-item h3 {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.card-item p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: auto;

}

/***********WHY CHOSE*****************/
.why-chose {
    background-color:  #F3F3F3;
    padding-top: 98px;
    padding-bottom: 88px;
}

.card-list--why {
    padding-top: 35px;
}

.card-item--why {
    text-align: center;
    height: 100%;
}

/**********         DF         *********/
@media (min-width: 768px) {
    .body {
        background-image: url(../img/back-img.jpg);
        background-repeat: no-repeat;
        background-position: top center;
    }

    .header {
        flex-wrap: nowrap;
        align-items: flex-start;
        padding: 40px 0;
    }

    .header-item {
        width: 33%;
    }

    .head-items {
        order: 3;
    }

    .head-items__search {
        display: none;
    }

    .head-items__cart {
        display: none;
    }

    .head-menu {
        order: 2;
        flex-direction: row;
        padding-top: 0;
        justify-content: center;
    }

    .head-menu a {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373;
        padding: 0 10px;
        margin: 0;
    }

    /*******************************/
    .empower {
        background-color: transparent;
        padding: 80px 0;
    }

    .empower-body {
        max-width: 509px;
        text-align: start;
        padding: 0;
    }

    .body-head {
        padding-bottom: 35px;
        text-align: start;
    }

    .body-text {
        padding: 0 0 35px 0;
        text-align: start;

    }

    .empower-card {
        margin-top: 130px;
    }

    .card-list {
        flex-direction: row;
    }

    .card-items {

        display: flex;
    }

    .card-items--empower {
        width: 33.333%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .card-item {
        background-color: #FFFFFF;
        padding: 35px 40px;
    }

    .empower-body__button {
        display: inline;
    }

    .empower-body__button:first-of-type {
        margin-bottom: 0px;
    }
 .why-chose {
    background: linear-gradient(180deg, #FAFAFA 0%, #E2E2E2 100%);
 }
    .card-items--why {
        width: 25%;
    }

    .card-item--why {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}