@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic.woff2') format('woff2'),
        url('../fonts/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../fonts/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../fonts/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/************************************/
* {
    box-sizing: border-box;
    margin: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0 auto;
    background: #FAFAFA;
}

.body a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1075px;
    min-width: 375px;
    padding: 0 15px;
}

.header {
    padding-top: 22px;
    padding-bottom: 69px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.head-items a {
    margin-left: 30px;
}

.head-menu a {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 30px;
}

.head-menu a:hover {
    color: #FFA62B;
}

.header-item {
    width: 50%;
}

.head-logo {
    display: flex;
    justify-content: flex-start;
}

.head-pic {
    order: 1;
    display: flex;
    justify-content: flex-start;
}

.head-pic:hover path {
    fill: #FFA62B;
}

.head-items {
    order: 2;
    display: flex;
    justify-content: flex-end;
}

.head-items-hover:hover path {
    fill: #FFA62B;
}

.head-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 3;
    padding-top: 96px;
}

/**************empower******************/
.empower {
    background-color: #E9E9E9;
    padding-top: 80px;
    padding-bottom: 175px;
}

.empower-body {
    padding: 0 9px 80px 15px;
    text-align: center;

}

.body-head {
    font-weight: 700;
    font-size: 36px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    text-align: center;
}

.body-head--empower {
    padding-bottom: 39px;
    text-transform: uppercase;
}

.body-head--why-chose {
    padding: 0 55px 8px 55px;
    text-transform: uppercase;
}

.body-head--practice {
    padding: 0 88px 10px 88px;
}

.body-head--we-are {
    padding: 182px 25px 0 25px;
}

.body-head--we-are-middle {
    text-align: start;
    padding-bottom: 10px;
}

.body-head--get-in {
    padding-bottom: 10px;
}

.body-head--get-in-card {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.body-head--consulting {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    padding-bottom: 10px;
}


/******* body-text *********/
.body-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    padding: 0 16px 40px 16px;
    text-align: center;
}

.body-text--empower {
    padding: 0 31px 38px 21px;
}

.body-text--why-chose {
    font-size: 14px;
    line-height: 20px;
    padding: 0 75px 15px 75px;
}

.body-text--practice {

    font-size: 14px;
    line-height: 20px;
    padding: 0 60px 75px 60px;
}

.body-text--we-are {
    font-size: 14px;
    line-height: 20px;
    padding: 9px 60px 100px 60px;
}

.body-text--we-are-middle {
    font-size: 14px;
    line-height: 20px;
    text-align: start;
    padding: 0 0 50px 0;
}

.body-text--get-in {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 60px;
}

.body-text--get-in-card {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;
    padding: 0;
}

.body-text--consulting {
    font-size: 14px;
    line-height: 20px;
    width: 230px;
    margin: 0 auto;
    padding-bottom: 45px;
}

.empower-body__button {
    display: block;
    margin: 0 auto;
    padding: 10px 36px;
    border-radius: 37px;
    border-color: #00A0C1;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #00A0C1;
}

.empower-body__button:hover {
    background-color: #E2E2E2;
}

.empower-body__button--yellow {
    background-color: #FFA62B;
    color: #FFFFFF;
    margin-bottom: 21px;
}

.empower-body__button--yellow:hover {
    background-color: #16697A;
}

.empower-body__button:first-of-type {
    margin-bottom: 22px;
}

/*************empower card***************/

.card-list {
    display: flex;
    flex-direction: column;
    margin: 0 -15px;
}

.card-items {
    background-color: transparent;
    padding: 0 15px;
    width: 100%;
}

.card-item {
    background-color: #FFFFFF;
}

.card-item--empower {
    padding: 35px 39px;
    margin-bottom: 32px;
}

.card-item--why {
    padding: 35px 40px;
    margin-bottom: 30px;
    text-align: center;
    height: 100%;
}

.card-item--practice {
    margin-bottom: 30px;
}

.card-item--practice-last {
    margin-bottom: 0;
}

.card-item--practice img {
    height: 138px;
    width: 100%;
    object-fit: cover;
}

.card-item:hover {
    background-color: #00A0C1;
}

.card-item:hover .card-item__pic path {
    fill: #FFFFFF;
}

.card-item:hover .card-item__header {
    color: #FFFFFF;
}

.card-item:hover .card-item__text {
    color: #FFFFFF;
}

.card-item__pic {
    margin-bottom: 5px;

}

.card-item__header {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.card-item__header--practice {
    font-size: 16px;
    line-height: 24px;
    padding: 30px 173px 15px 30px;

}

.card-item__header--why {
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
}

.card-item__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: auto;

}

.card-item__text--practice {
    margin-bottom: 0;
    padding: 0px 135px 30px 30px;
}

.card-item__text-why {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #737373;
    text-transform: uppercase;
}

/***********WHY CHOSE*****************/
.why-chose {
    background-color: #F3F3F3;
    padding-top: 105px;
    padding-bottom: 88px;
    text-align: center;
}

.card-list--why {
    padding-top: 35px;
}

/********Practice ********************/
.practice {
    padding-top: 95px;
    background-color: #F3F3F3;
}

/************ WE ARE ****************/

.we-are-middle__pic {
    position: relative;
    margin-bottom: 68px;
}

.we-are-middle__play {
    position: absolute;
    top: 171px;
    left: 122px;
    z-index: 1;
}

.we-are-middle__bg-cover {
    height: 442px;
}

.we-are-middle__body-icon {
    display: flex;
    padding-bottom: 30px;
}

.we-are-middle-text__xl {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.we-are-middle-text__l {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

.we-are-middle__icon {
    margin-right: 20px;
}

.we-are-list-company {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 152px;
    padding-bottom: 24px;

}

.we-are-list-company a {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

/*******  WE ARE EMAIL ********/
.container-we-are-email {}

.we-are-email {
    background-color: #16697A;
    padding: 30px 15px;
}

.we-are-email__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.custom-input {
    display: flex;
}

.custom-input__input {
    width: 100%;
    padding: 15px 0 15px 19px;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: #f1f1f1;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
}

.custom-input__button {
    background-color: #FFA62B;
    padding: 15px 31px 15px 25px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: start;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border-radius: 0 4px 4px 0;
}

/******** GET-IN ***********/
.get-in {
    padding-top: 75px;

    background-color: #F3F3F3;
}

.get-in__card-list {
    margin: 0 -15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.get-in__card-items {
    padding: 0 15px;
    width: 100%;
}

.get-in__card-item {
    background-color: #FFFFFF;
    padding: 50px 40px;
    text-align: center;
    margin-bottom: 30px;
}

.get-in__card-icon {
    margin-bottom: 10px;
}

.get-in__button {
    padding: 10px 25px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFA62B;
    border: 1px solid #FFA62B;
    border-radius: 5px;
    background-color: transparent;
}

/**************************/
.get-in__card-item--vvv {
    height: 393px;
}

/*****************/

/************ Consulting *******/
.consulting {
    background-color: #FAFAFA;
  }

.consulting-head {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
}

.consulting__button {
    padding: 15px 40px;
    background: #FFA62B;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}


/**********         DF         *********/
@media (min-width: 768px) {

    .body {
        background-image: url(../img/back-img.jpg);
        background-repeat: no-repeat;
        background-position: top center;
    }

    .header {
        flex-wrap: nowrap;
        align-items: flex-start;
        padding: 40px 0;
    }

    .header-item {
        width: 33%;
    }

    .head-items {
        order: 3;
    }

    .head-items__search {
        display: none;
    }

    .head-items__cart {
        display: none;
    }

    .head-menu {
        order: 2;
        flex-direction: row;
        padding-top: 0;
        justify-content: center;
    }

    .head-menu a {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #737373;
        padding: 0 10px;
        margin: 0;
    }

    /*******************************/
    .empower {
        background-color: transparent;
        padding: 80px 0;
    }

    .empower-body {
        max-width: 509px;
        text-align: start;
        padding: 0;
    }

    .body-head {
        padding-bottom: 35px;
        text-align: start;
    }

    .body-text {
        padding: 0 0 35px 0;
        text-align: start;

    }

    .empower-card {
        margin-top: 130px;
    }

    .card-list {
        flex-direction: row;
    }

    .card-items {

        display: flex;
    }

    .card-items--empower {
        width: 33.333%;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .card-item {
        background-color: #FFFFFF;
        padding: 35px 40px;
    }

    .empower-body__button {
        display: inline;
    }

    .empower-body__button:first-of-type {
        margin-bottom: 0px;
    }

    .why-chose {
        background: linear-gradient(180deg, #FAFAFA 0%, #E2E2E2 100%);
    }

    .card-items--why {
        width: 25%;
    }

    .card-item--why {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body-head--why-chose {
        text-align: center;
    }

    .body-text--why-chose {
        text-align: center;
    }

    .practice {
        background-color: #FAFAFA;
    }

    .body-head--practice {
        font-size: 40px;
        line-height: 57px;
        text-align: center;
    }

    .body-text--practice {
        width: 470px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }

    .card-item__header--practice {
        padding: 30px 100px 15px 33px;
    }

    .card-item__text--practice {
        padding: 0 28px 30px 33px;
    }

    .card-item--practice {
        padding: 0;
    }
}